/* roght controls(full-screen speed-button caption-button settings-tooltip) */
.right-controls {
  flex: 1;
  display: flex;
  justify-content: end;
  gap: 10px;
  position: absolute;
  right: 0;
  position: relative;
  z-index: 60;
}

.player .right-controls button {
  -webkit-appearance: none;
  margin-inline: 0px;
}

.right-controls button svg {
  width: 10px;
}

.right-controls .fullscreen-open-svg,
.right-controls .fullscreen-close-svg {
  display: none;
}


.player.fullscreen-open .fullscreen-close-svg {
  display: block;
}

.player:not(.fullscreen-open) .fullscreen-open-svg {
  display: block;
}

@media (max-width: 800px) {
  .right-controls {
    gap: 0px;
  }

  .right-controls button svg {
    width: 18px;
    height: 18px;
  }
}

.playback-speed {
  position: relative;
  cursor: pointer;
  z-index: 60;
}

.playback-speed .selected {
  color: white;
}

.playback-speed-dropdown {
  z-index: 60;
  min-width: 220px;
  margin-top: 10px;
  background: #000000c1;
  border-radius: 10px;
  position: absolute;
  overflow: scroll;
  top: -250px;
  overflow: hidden;
  left: -210px;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  transition-delay: 0.3s;
}

.player.player.fullscreen-open .playback-speed-dropdown,
.player.player.fullscreen-open .playback-speed {
  display: none;
}

.playback-speed:hover .playback-speed-dropdown {
  opacity: 1;
  margin-top: 0px;
  transition-delay: 0s;
  pointer-events: all;
}

.playback-speed-dropdown .title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.133);
  padding: 5px;
  padding-inline: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(222, 220, 220);
  position: sticky;
  top: 0px;
}

.playback-speed-dropdown .title:hover {
  background-color: transparent;
}

.playback-speed-dropdown div {
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 2px;
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.playback-speed-dropdown div svg {
  width: 10px;
}

.playback-speed-dropdown div:hover {
  background-color: #ffffff62;
}

.playback-speed-dropdown .active {
  background-color: #ffffff62;
}

.player.captions button.caption-btn svg {
  border-bottom: 2px solid white;
}

@media (max-width: 800px) {
  .playback-speed-dropdown {
    height: 250px;
    top: 2px;
    overflow: scroll;
    left: -100px;
  }

  .playback-speed-dropdown {
    background-color: #000000d0;
  }
  .playback-speed-dropdown .title {
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.265);
  }

  .playback-speed-dropdown .title:hover {
    background-color: black;
  }

  .playback-speed .selected {
    font-size: 12px;
  }
}
